md-content
    form(name="s2Form")
        md-input-container(ng-repeat="item in data")
            div(ng-if="item.isEnabled")
                label {{item.title}}
                div(ng-switch="item.type")
                    input(ng-switch-when="input" name="{{item.name}}" type="text" ng-model="item.value" ng-required="{{item.required}}")
                    input(ng-switch-when="password" name="{{item.name}}" type="password" ng-model="item.value" ng-required="{{item.required}}")
                    input(ng-switch-when="number" name="{{item.name}}" type="number" ng-model="item.value" min="1" max="100" ng-required="{{item.required}}")
                    md-select(ng-switch-when="select" name="{{item.name}}" ng-model="item.value" ng-required="{{item.required}}")
                        md-option(ng-value="0") Female
                        md-option(ng-value="1") Male
                    md-datepicker(ng-switch-when="datepicker" name="{{item.name}}" ng-model="item.value" ng-required="{{item.required}}")
                    div(ng-switch-when="checkbox")
                        md-checkbox(ng-model="item.value" name="{{item.name}}" ng-required="{{item.required}}")


