md-content
    md-input-container
        label Filter
        input(type="text" ng-model="searchText")
    md-checkbox(ng-repeat="item in data | filter:searchText" aria-label="{{item.title}}" ng-model="item.isEnabled") {{item.title}}

