doctype html
html
  head
    title(title="Test")
    meta(charset="utf-8")
    script(src="/vendors/js/angular.js")
    script(src="/vendors/js/angular-ui-router.js")
    script(src="/vendors/js/angular-animate.js")
    script(src="/vendors/js/angular-aria.js")
    script(src="/vendors/js/angular-material.js")
    script(src="/vendors/js/angular-messages.js")

    script(src="js/app.js")

    link(rel="stylesheet" href="less/styles.less" type="text/less")
    link(rel="stylesheet" href="/vendors/css/angular-material.css")

    script(src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.js")


  base(href="/")
  body(ng-app="app" layout='column"')
    div(class="layout-column flex" ng-controller="TabController" id="main-container")
      md-tabs.md-stretch-tabs (md-selected="selectedIndex")
        md-tab(md-active="$state.is('screen1')")
          a(ui-sref="screen1") Screen 1
        md-tab(md-active="$state.is('screen2')")
          a(ui-sref="screen2") Screen 2

      div(class="layout-column flex" ui-view flex)
